html,body{
    padding: 0;
    margin: 0;
    background-color: beige;


}
 body{
    font-family: sans-serif;
 }

.hero{
    background-color: #542671;
    color: azure;
    padding: 50px 30px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
.hero :before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to left,rgb(88, 4, 197)  ,#542671)
}
.hero :after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: linear-gradient(to right,rgb(88, 4, 197)  ,#542671)
}
.hero h1{
    font-weight: normal;
    font-size: 6rem;
    margin: 0;
}

.hero h2{
    font-weight: normal;
    font-size: 1.7rem;
    margin: 0;
}


.filter-nav{
    display: flex;
    justify-content: center;
    margin-bottom: 10px; ;
    
}

.filter-nav a {
    text-decoration:  none;
    padding: 9px;
    color:#542671;
    border: 1px solid #af169b ;
    border-radius: 4px;
    margin: 4px;

}

.animals{
    max-width: 700px;
    margin: 0 auto;
}


.animal_card{
    display: grid;
    grid-template-columns: 159px 1fr ;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}

.animal-card-photo{
    order: 1;
    grid-row: 1;
    overflow:hidden;

}

.animal-card-photo img{
    display: block;
    width: 115%;
    height:100%;
    object-fit: cover;
    transition: transfrom .3s ease-in-out;

}

.animal_card:hover img{
    transform: rotate(20deg) scale(1.4);
}

.animal-card-text{
    padding: 10px 25px;

}

.animal-card-text h3{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.8rem;
}

.animal-card-text small{
    color: rgb(176,176,176)
}

.animal-card-text p{
    margin: .8rem 0;
    padding: 0 ;
    line-height: 1.5;
}

.primary_btn{
    background: linear-gradient(#d147d1,#702acb);
    padding: 10px;
    color:aliceblue;
    border-radius:5px ;
    text-decoration: none;
    display: inline-block;
}

.primary_btn:hover{
    background: linear-gradient(#e35ea7,#d82eb9) ;
}
